<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="severnmt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <severnmt.Properties.Settings>
            <setting name="FolderName" serializeAs="String">
                <value>Transfers</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="TowDirectory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRefreach" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveGarllery" serializeAs="String">
                <value>False</value>
            </setting>
        </severnmt.Properties.Settings>
    </userSettings>
</configuration>